<nav class="responsive-nav" id="js-responsive-nav">

    <ul class="responsive-nav__list">
        <li class="{{#is slug "demo-prism-dark"}}active {{/is}}responsive-nav__item" id="nav-item-1">
            <a href="{{relative page.dest "_gh_pages/demo-prism-dark.html"}}" class="responsive-nav__link">Prism-dark</a>
        </li>
        <li class="{{#is slug "demo-prism-light"}}active {{/is}}responsive-nav__item" id="nav-item-2">
            <a href="{{relative page.dest "_gh_pages/demo-prism-light.html"}}" class="responsive-nav__link">Prism-light</a>
        </li>
        <li class="{{#is slug "demo-highlightjs-dark"}}active{{/is}} responsive-nav__item" id="nav-item-3">
            <a href="{{relative page.dest "_gh_pages/demo-highlightjs-dark.html"}}" class="responsive-nav__link">Highl.js-dark</a>
        </li>

         <li class="{{#is slug "demo-highlightjs-light"}}active{{/is}} responsive-nav__item" id="nav-item-4">
            <a href="{{relative page.dest "_gh_pages/demo-highlightjs-light.html"}}" class="responsive-nav__link">Highl.js-light</a>
        </li>
        <li class="{{#is slug "demo-syntaxhighlighter-dark"}}active{{/is}} responsive-nav__item" id="nav-item-5">
            <a href="{{relative page.dest "_gh_pages/demo-syntaxhighlighter-dark.html"}}" class="responsive-nav__link">Syntaxh.-dark</a>
        </li>
        <li class="{{#is slug "demo-syntaxhighlighter-light"}}active{{/is}} responsive-nav__item" id="nav-item-6">
            <a href="{{relative page.dest "_gh_pages/demo-syntaxhighlighter-light.html"}}" class="responsive-nav__link">Syntaxh.-light</a>
        </li>

    </ul>

</nav>

